// ====================================================
//   Basic Positioning Properties
// ====================================================

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

// ====================================================
//   Absolute Positioning
// ====================================================

.top    { top: 0 }
.right  { right: 0 }
.bottom { bottom: 0 }
.left   { left: 0 }

// 绝对定位中心
.absolute-center {
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto
}

// ====================================================
//   Floats
// ====================================================

.float-left  { float: left }
.float-right { float: right }

.pull-left  { float: left }
.pull-right { float: right }

.fl { float: left }
.fr { float: right }

// 清除浮动
.clearfix:before, .clearfix:after
  display table
  content ''
.clearfix:after
  clear both
