// ====================================================
//   Basic Positioning Properties
// ====================================================

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

// ====================================================
//   Absolute Positioning
// ====================================================

.top    { top: 0 }
.right  { right: 0 }
.bottom { bottom: 0 }
.left   { left: 0 }

// ====================================================
//   Floats
// ====================================================

.float-left  { float: left }
.float-right { float: right }

.pull-left  { float: left }
.pull-right { float: right }

.fl { float: left }
.fr { float: right }

// clearfix
.clearfix:before, .clearfix:after
  display: table
  content: ' '
.clearfix:after
  clear: both
