//====================================================
//  Reset - customized version from Basscss v7.0.0
//====================================================

*,
*:before,
*:after {
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-overflow-scrolling: touch
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
  vertical-align: middle
}

a img {
  border: 0
}

input,
textarea,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0
}

input[type=checkbox] {
  -webkit-appearance: checkbox
}

input[type=radio] {
  -webkit-appearance: radio
}

textarea {
  outline: 0;
  resize: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]),[hidden] {
  display: none
}

a {
  cursor: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
}

img  { width: 100% }
svg  { max-height: 100% }
