//====================================================
//  Display
//====================================================

.hidden       { display: none }
.hide         { display: none }

.block        { display: block }
.inline       { display: inline }
.inline-block { display: inline-block }

.flex         { display: flex }
.inline-flex  { display: inline-flex }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

// 自定义短类名
.d-b  { display: block }
.d-ib { display: inline-block }
.d-i  { display: inline }

.of-h { overflow: hidden }
.of-a { overflow: auto }

//====================================================
//  Text wrap
//====================================================

.pre       { white-space: pre }
.nowrap    { white-space: nowrap }

//====================================================
//  Scrolling
//====================================================

.scroll-x {
  overflow-x: scroll
  overflow-y: hidden
}

.scroll-y {
  overflow-x: hidden
  overflow-y: scroll
}

// 隐藏滚动条
.no-scrollbar::-webkit-scrollbar {
  width: 0px
  height: 0px
  background: transparent
}

//====================================================
//  Textareas
//====================================================

.resize-none       { resize: none }
.resize-vertical   { resize: vertical }
.resize-horizontal { resize: horizontal }

//====================================================
//  Misc.
//====================================================

.cursor-pointer {
  cursor: pointer
}

.no-pointer-events {
  pointer-events: none
}

.disabled {
  opacity: 0.5
  cursor: not-allowed
  pointer-events: none
}
