//====================================================
//  Padding
//====================================================

$padding = 1rem
$margin = 1rem

$paddingPx = 10px
$marginPx = 10px

// All
.p0 { padding: 0 }
.p1 { padding: $padding }
.p2 { padding: $padding * 2 }
.p3 { padding: $padding * 3 }
.p4 { padding: $padding * 4 }
.p5 { padding: $padding * 5 }

// Top
.pt0 { padding-top: 0 }
.pt1 { padding-top: $padding }
.pt2 { padding-top: $padding * 2 }
.pt3 { padding-top: $padding * 3 }
.pt4 { padding-top: $padding * 4 }
.pt5 { padding-top: $padding * 5 }

// Right
.pr0 { padding-right: 0 }
.pr1 { padding-right: $padding }
.pr2 { padding-right: $padding * 2 }
.pr3 { padding-right: $padding * 3 }
.pr4 { padding-right: $padding * 4 }
.pr5 { padding-right: $padding * 5 }

// Bottom
.pb0 { padding-bottom: 0 }
.pb1 { padding-bottom: $padding }
.pb2 { padding-bottom: $padding * 2 }
.pb3 { padding-bottom: $padding * 3 }
.pb4 { padding-bottom: $padding * 4 }
.pb5 { padding-bottom: $padding * 5 }

// Left
.pl0 { padding-left: 0 }
.pl1 { padding-left: $padding }
.pl2 { padding-left: $padding * 2 }
.pl3 { padding-left: $padding * 3 }
.pl4 { padding-left: $padding * 4 }
.pl5 { padding-left: $padding * 5 }

// Top-Bottom
.ptb0 { padding-top: 0; padding-bottom: 0 }
.ptb1 { padding-top: $padding; padding-bottom: $padding }
.ptb2 { padding-top: $padding * 2; padding-bottom: $padding * 2 }
.ptb3 { padding-top: $padding * 3; padding-bottom: $padding * 3 }
.ptb4 { padding-top: $padding * 4; padding-bottom: $padding * 4 }
.ptb5 { padding-top: $padding * 5; padding-bottom: $padding * 5 }

// Left-Right
.plr0 { padding-left: 0; padding-right: 0 }
.plr1 { padding-left: $padding; padding-right: $padding }
.plr2 { padding-left: $padding * 2; padding-right: $padding * 2 }
.plr3 { padding-left: $padding * 3; padding-right: $padding * 3 }
.plr4 { padding-left: $padding * 4; padding-right: $padding * 4 }
.plr5 { padding-left: $padding * 5; padding-right: $padding * 5 }

// All
.p10{ padding: $paddingPx }
.p20 { padding: $paddingPx * 2 }
.p30 { padding: $paddingPx * 3 }
.p40 { padding: $paddingPx * 4 }
.p50 { padding: $paddingPx * 5 }

// Top
.pt10 { padding-top: $paddingPx }
.pt20 { padding-top: $paddingPx * 2 }
.pt30 { padding-top: $paddingPx * 3 }
.pt40 { padding-top: $paddingPx * 4 }
.pt50 { padding-top: $paddingPx * 5 }

// Right
.pr10 { padding-right: $paddingPx }
.pr20 { padding-right: $paddingPx * 2 }
.pr30 { padding-right: $paddingPx * 3 }
.pr40 { padding-right: $paddingPx * 4 }
.pr50 { padding-right: $paddingPx * 5 }

// Bottom
.pb10 { padding-bottom: $paddingPx }
.pb20 { padding-bottom: $paddingPx * 2 }
.pb30 { padding-bottom: $paddingPx * 3 }
.pb40 { padding-bottom: $paddingPx * 4 }
.pb50 { padding-bottom: $paddingPx * 5 }

// Left
.pl10 { padding-left: $paddingPx }
.pl20 { padding-left: $paddingPx * 2 }
.pl30 { padding-left: $paddingPx * 3 }
.pl40 { padding-left: $paddingPx * 4 }
.pl50 { padding-left: $paddingPx * 5 }

// Top-Bottom
.ptb10 { padding-top: $paddingPx; padding-bottom: $paddingPx }
.ptb20 { padding-top: $paddingPx * 2; padding-bottom: $paddingPx * 2 }
.ptb30 { padding-top: $paddingPx * 3; padding-bottom: $paddingPx * 3 }
.ptb40 { padding-top: $paddingPx * 4; padding-bottom: $paddingPx * 4 }
.ptb50 { padding-top: $paddingPx * 5; padding-bottom: $paddingPx * 5 }

// Left-Right
.plr10 { padding-left: $paddingPx; padding-right: $paddingPx }
.plr20 { padding-left: $paddingPx * 2; padding-right: $paddingPx * 2 }
.plr30 { padding-left: $paddingPx * 3; padding-right: $paddingPx * 3 }
.plr40 { padding-left: $paddingPx * 4; padding-right: $paddingPx * 4 }
.plr50 { padding-left: $paddingPx * 5; padding-right: $paddingPx * 5 }

// supplement
.ph { padding: $paddingPx * 0.5 }
.p15 { padding: $paddingPx * 1.5 }
.p25 { padding: $paddingPx * 2.5 }
.pth { padding-top: $paddingPx * 0.5 }
.pt15 { padding-top: $paddingPx * 1.5 }
.pt25 { padding-top: $paddingPx * 2.5 }
.prh { padding-right: $paddingPx * 0.5 }
.pr15 { padding-right: $paddingPx * 1.5 }
.pr25 { padding-right: $paddingPx * 2.5 }
.pbh { padding-bottom: $paddingPx * 0.5 }
.pb15 { padding-bottom: $paddingPx * 1.5 }
.pb25 { padding-bottom: $paddingPx * 2.5 }
.plh { padding-left: $paddingPx * 0.5 }
.pl15 { padding-left: $paddingPx * 1.5 }
.pl25 { padding-left: $paddingPx * 2.5 }
.ptbh { padding-top: $paddingPx * 0.5; padding-bottom: $paddingPx * 0.5 }
.ptb15 { padding-top: $paddingPx * 1.5; padding-bottom: $paddingPx * 1.5 }
.ptb25 { padding-top: $paddingPx * 2.5; padding-bottom: $paddingPx * 2.5 }
.plrh { padding-left: $paddingPx * 0.5; padding-right: $paddingPx * 0.5 }
.plr15 { padding-left: $paddingPx * 1.5; padding-right: $paddingPx * 1.5 }
.plr25 { padding-left: $paddingPx * 2.5; padding-right: $paddingPx * 2.5 }

//====================================================
//  Margins
//====================================================

// Auto
.ma  { margin: auto }

// All
.m0 { margin: 0 }
.m1 { margin: $margin }
.m2 { margin: $margin * 2 }
.m3 { margin: $margin * 3 }
.m4 { margin: $margin * 4 }
.m5 { margin: $margin * 5 }

// Top
.mt0 { margin-top: 0 }
.mt1 { margin-top: $margin }
.mt2 { margin-top: $margin * 2 }
.mt3 { margin-top: $margin * 3 }
.mt4 { margin-top: $margin * 4 }
.mt5 { margin-top: $margin * 5 }

// Right
.mr0 { margin-right: 0 }
.mr1 { margin-right: $margin }
.mr2 { margin-right: $margin * 2 }
.mr3 { margin-right: $margin * 3 }
.mr4 { margin-right: $margin * 4 }
.mr5 { margin-right: $margin * 5 }

// Bottom
.mb0 { margin-bottom: 0 }
.mb1 { margin-bottom: $margin }
.mb2 { margin-bottom: $margin * 2 }
.mb3 { margin-bottom: $margin * 3 }
.mb4 { margin-bottom: $margin * 4 }
.mb5 { margin-bottom: $margin * 5 }

// Left
.ml0 { margin-left: 0 }
.ml1 { margin-left: $margin }
.ml2 { margin-left: $margin * 2 }
.ml3 { margin-left: $margin * 3 }
.ml4 { margin-left: $margin * 4 }
.ml5 { margin-left: $margin * 5 }

// Top/Bottom
.mtb0 { margin-top: 0; margin-bottom: 0 }
.mtb1 { margin-top: $margin; margin-bottom: $margin }
.mtb2 { margin-top: $margin * 2; margin-bottom: $margin * 2 }
.mtb3 { margin-top: $margin * 3; margin-bottom: $margin * 3 }
.mtb4 { margin-top: $margin * 4; margin-bottom: $margin * 4 }
.mtb5 { margin-top: $margin * 5; margin-bottom: $margin * 5 }

// Left/Right
.mlr0 { margin-left: 0; margin-right: 0 }
.mlr1 { margin-left: $margin; margin-right: $margin }
.mlr2 { margin-left: $margin * 2; margin-right: $margin * 2 }
.mlr3 { margin-left: $margin * 3; margin-right: $margin * 3 }
.mlr4 { margin-left: $margin * 4; margin-right: $margin * 4 }
.mlr5 { margin-left: $margin * 5; margin-right: $margin * 5 }


// All
.m10 { margin: $marginPx }
.m20 { margin: $marginPx * 2 }
.m30 { margin: $marginPx * 3 }
.m40 { margin: $marginPx * 4 }
.m50 { margin: $marginPx * 5 }

// Top
.mt10 { margin-top: $marginPx }
.mt20 { margin-top: $marginPx * 2 }
.mt30 { margin-top: $marginPx * 3 }
.mt40 { margin-top: $marginPx * 4 }
.mt50 { margin-top: $marginPx * 5 }

// Right
.mr10 { margin-right: $marginPx }
.mr20 { margin-right: $marginPx * 2 }
.mr30 { margin-right: $marginPx * 3 }
.mr40 { margin-right: $marginPx * 4 }
.mr50 { margin-right: $marginPx * 5 }

// Bottom
.mb10 { margin-bottom: $marginPx }
.mb20 { margin-bottom: $marginPx * 2 }
.mb30 { margin-bottom: $marginPx * 3 }
.mb40 { margin-bottom: $marginPx * 4 }
.mb50 { margin-bottom: $marginPx * 5 }

// Left
.ml10 { margin-left: $marginPx }
.ml20 { margin-left: $marginPx * 2 }
.ml30 { margin-left: $marginPx * 3 }
.ml40 { margin-left: $marginPx * 4 }
.ml50 { margin-left: $marginPx * 5 }

// Top/Bottom
.mtb10 { margin-top: $marginPx; margin-bottom: $marginPx }
.mtb20 { margin-top: $marginPx * 2; margin-bottom: $marginPx * 2 }
.mtb30 { margin-top: $marginPx * 3; margin-bottom: $marginPx * 3 }
.mtb40 { margin-top: $marginPx * 4; margin-bottom: $marginPx * 4 }
.mtb50 { margin-top: $marginPx * 5; margin-bottom: $marginPx * 5 }

// Left/Right
.mlr10 { margin-left: $marginPx; margin-right: $marginPx }
.mlr20 { margin-left: $marginPx * 2; margin-right: $marginPx * 2 }
.mlr30 { margin-left: $marginPx * 3; margin-right: $marginPx * 3 }
.mlr40 { margin-left: $marginPx * 4; margin-right: $marginPx * 4 }
.mlr50 { margin-left: $marginPx * 5; margin-right: $marginPx * 5 }

// supplement
.mh { margin: $marginPx * 0.5 }
.m15 { margin: $marginPx * 1.5 }
.m25 { margin: $marginPx * 2.5 }
.mth { margin-top: $marginPx * 0.5 }
.mt15 { margin-top: $marginPx * 1.5 }
.mt25 { margin-top: $marginPx * 2.5 }
.mrh { margin-right: $marginPx * 0.5 }
.mr15 { margin-right: $marginPx * 1.5 }
.mr25 { margin-right: $marginPx * 2.5 }
.mbh { margin-bottom: $marginPx * 0.5 }
.mb15 { margin-bottom: $marginPx * 1.5 }
.mb25 { margin-bottom: $marginPx * 2.5 }
.mlh { margin-left: $marginPx * 0.5 }
.ml15 { margin-left: $marginPx * 1.5 }
.ml25 { margin-left: $marginPx * 2.5 }
.mtbh { margin-top: $marginPx * 0.5; margin-bottom: $marginPx * 0.5 }
.mtb15 { margin-top: $marginPx * 1.5; margin-bottom: $marginPx * 1.5 }
.mtb25 { margin-top: $marginPx * 2.5; margin-bottom: $marginPx * 2.5 }
.mlrh { margin-left: $marginPx * 0.5; margin-right: $marginPx * 0.5 }
.mlr15 { margin-left: $marginPx * 1.5; margin-right: $marginPx * 1.5 }
.mlr25 { margin-left: $marginPx * 2.5; margin-right: $marginPx * 2.5 }
