// border
$border-style = solid
$border-color = rgba(0,0,0,0.1)
$border-radius = 3px

$border-1 = 1px
$border-2 = 2px
$border-3 = 3px

// color
$primary =    #337ab7
$success =    #5cb85c
$info    =    #5bc0de
$warning =    #f0ad4e
$danger  =    #d9534f

$white     =  #fff
$silver    =  #F4F4F4
$lightgrey =  #ececec
$grey      =  #ccc
$midgrey   =  #777
$darkgrey  =  #444
$black     =  #222
$trueblack =  #000

// Typography
$base-font-size = 1rem
$base-line-height = 1.5

$h1 = $base-font-size * 2.25
$h2 = $base-font-size * 1.75
$h3 = $base-font-size * 1.5
$h4 = $base-font-size * 1.25
$h5 = $base-font-size * 1.125
$h6 = $base-font-size

// Whitespace
$padding = 1rem
$margin =  1rem

$paddingPx = 10px
$marginPx =  10px
